.m-collocation {
  width: 1226px ;
  height: 686px;
  margin: auto;
  position: relative;
}
.m-collocation .home-hd {
  width: 100%;
  height: 58;
  float: left;
  text-align: center;
}
.m-collocation .home-hd .title {
  float: left;
  font-size: 22px;
  font-weight: 200px;
  height: 58px;
  line-height: 58px;
}
.m-collocation .home-hd .top-list {
  width: 330px;
  float: right;
  line-height: 22px;
  padding-top: 20px;
}
.m-collocation .home-hd .top-list .home-list1 {
  border-bottom: 2px solid #FF6700;
}
.m-collocation .home-hd .top-list .home-list1 a {
  color: #FF6700;
}
.m-collocation .home-hd .top-list li {
  float: left;
  font-size: 16px;
  margin-left: 30px;
  line-height: 22px;
  /**右边定位**/
}
.m-collocation .home-hd .top-list li .top-list1,
.m-collocation .home-hd .top-list li .top-list2 {
  position: absolute;
  top: 58px;
  left: 234px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r,
.m-collocation .home-hd .top-list li .top-list2 .content-r {
  height: 616px;
  width: 992px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig {
  width: 234px;
  height: 300px;
  background: #fff;
  margin-left: 14px ;
  float: left;
  position: relative;
  transition: .2s;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig:hover,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig:hover {
  transform: translateY(-2px);
  box-shadow: 1px 10px 37px 1px rgba(0, 0, 0, 0.1);
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig:hover .listbig-warpper,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig:hover .listbig-warpper {
  height: 85px;
  overflow: visible;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig figure,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig figure {
  line-height: 150px;
  height: 150px;
  margin-top: 35px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig figure .list-a1,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig figure .list-a1 {
  display: inline-block;
  width: 150px;
  height: 150px;
  float: left;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig figure .list-a1 img,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig figure .list-a1 img {
  width: 150px;
  height: 150px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig .title2 .list-a2,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig .title2 .list-a2 {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #333;
  font-size: 14px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig p,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig p {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #B0B0B0;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig .price,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig .price {
  font-size: 14px;
  margin-top: 10px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig .price span,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig .price span {
  color: #FF6700;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig .price del span,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig .price del span {
  color: #B0B0B0;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig .fg,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig .fg {
  position: absolute;
  top: 0;
  left: 90px;
  width: 64px;
  height: 20px;
  background: #e53935;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig .listbig-warpper,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig .listbig-warpper {
  width: 234px;
  height: 0px;
  overflow: hidden;
  background: #FF6700;
  position: absolute;
  bottom: -8px;
  transition: .2s;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig .listbig-warpper .warpper,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig .listbig-warpper .warpper {
  display: block;
  padding: 8px 30px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig .listbig-warpper .warpper .review,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig .listbig-warpper .warpper .review {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 12px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listbig .listbig-warpper .warpper .author,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listbig .listbig-warpper .warpper .author {
  width: 200px;
  color: #E0E0E0;
  height: 1em;
  font-size: 12px;
  white-space: nowrap;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall {
  width: 234px;
  height: 143px;
  float: left;
  background: #fff;
  margin-left: 14px;
  position: relative;
  transition: .2s;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall:hover,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall:hover {
  transform: translateY(-2px);
  box-shadow: 1px 10px 37px 1px rgba(0, 0, 0, 0.1);
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall figure,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall figure {
  width: 80px ;
  height: 80px;
  position: absolute;
  right: 15px;
  top: 30px;
  margin: 0;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall figure a,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall figure a {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall figure a img,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall figure a img {
  width: 80px;
  height: 80px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall figure .iconfont,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall figure .iconfont {
  font-size: 3.5em;
  color: #FF6700;
  margin-left: 15px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall .title2,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall .title2 {
  width: 94px;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  top: 40px;
  left: 30px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall .title2 .list-a2,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall .title2 .list-a2 {
  color: #333;
  font-size: 14px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall .title2 .list-a2:hover,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall .title2 .list-a2:hover {
  color: #333;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall .price,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall .price {
  position: absolute;
  top: 70px;
  left: 30px;
  color: #FF6700;
  font-size: 14px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall .more,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall .more {
  position: absolute;
  top: 40px;
  left: 30px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall .more .more-a,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall .more .more-a {
  font-size: 20px;
  color: #333;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall .more .more-a:hover,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall .more .more-a:hover {
  color: #333;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall .rm,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall .rm {
  width: 40px;
  position: absolute;
  top: 65px;
  left: 30px;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r .content-listsmall .rm .rm-a,
.m-collocation .home-hd .top-list li .top-list2 .content-r .content-listsmall .rm .rm-a {
  font-size: 12px;
  color: #B0B0B0;
}
.m-collocation .home-hd .top-list li .top-list1 .content-r :nth-of-type(n+5),
.m-collocation .home-hd .top-list li .top-list2 .content-r :nth-of-type(n+5) {
  margin-top: 14px;
}
.m-collocation .home-hd .top-list li .top-list1 {
  display: block;
}
.m-collocation .home-hd .top-list li .top-list2 {
  display: none;
}
.m-collocation .home-hd .top-list .home-list2:hover .top-list2 {
  display: block;
}
.m-collocation .bottom-l {
  width: 234px;
  height: 616px;
}
.m-collocation .bottom-l a {
  display: inline-block;
  width: 234px;
  height: 300px;
  float: left;
}
.m-collocation .bottom-l a img {
  transition: .2s;
  display: block;
  width: 234px;
}
.m-collocation .bottom-l a:hover img {
  transform: translateY(-2px);
  box-shadow: 1px 10px 37px 1px rgba(0, 0, 0, 0.1);
}
.m-collocation .bottom-l a:first-child {
  margin-bottom: 14px;
}
