.m-hot-product {
  width: 1226px;
  height: 473px;
  background: #F5F5F5;
  margin: auto;
  position: relative;
  z-index: 3;
}
.m-hot-product .title {
  float: left;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.m-hot-product .u-star-bd {
  float: left;
  width: 1226px;
}
.m-hot-product .u-star-bd .star-bd-list {
  width: 1226px;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1,
.m-hot-product .u-star-bd .star-bd-list .bd-list2,
.m-hot-product .u-star-bd .star-bd-list .bd-list3,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 {
  float: left;
  width: 296px;
  height: 415px;
  background: #fafafa;
  margin-right: 14px ;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .list-a1,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .list-a1,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .list-a1,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .list-a1 {
  display: block;
  width: 100%;
  height: 220px;
  line-height: 220px;
  margin-bottom: 28px;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .list-a1 img,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .list-a1 img,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .list-a1 img,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .list-a1 img {
  width: 296px;
  height: 220px;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .review,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .review,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .review,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .review {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  width: 240px;
  height: 72px;
  margin: 0 28px 22px ;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .review a,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .review a,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .review a,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .review a {
  line-height: 1.8em;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .review a:hover,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .review a:hover,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .review a:hover,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .review a:hover {
  color: #333;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .desc,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .desc,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .desc,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .desc {
  width: 240px;
  color: #B0B0B0;
  margin: 10px 28px;
  font-size: 12px;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .info,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .info,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .info,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .info {
  width: 240px;
  padding: 0 28px;
  height: 28px;
  text-align: center;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .info .info-t,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .info .info-t,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .info .info-t,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .info .info-t {
  float: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .info .info-t:hover,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .info .info-t:hover,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .info .info-t:hover,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .info .info-t:hover {
  color: #333;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .info p,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .info p,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .info p,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .info p {
  float: left;
  color: #FF6700;
  line-height: 24px;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list1 .info span,
.m-hot-product .u-star-bd .star-bd-list .bd-list2 .info span,
.m-hot-product .u-star-bd .star-bd-list .bd-list3 .info span,
.m-hot-product .u-star-bd .star-bd-list .bd-list4 .info span {
  float: left;
  display: inline-block;
  transform: scaleY(1.2);
  margin: 0 8px;
  color: #E0E0E0;
  margin-bottom: 2px;
}
.m-hot-product .u-star-bd .star-bd-list .bd-list4 {
  margin-right: 0px;
}
.m-hot-product .u-star-bd li {
  transition: .2s;
}
.m-hot-product .u-star-bd li:hover {
  transform: translateY(-2px);
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.1);
}
