.ft{
	width:100%;
	position:absolute;
	bottom:-120px;
	background:#fff;
}
.ft  .f-nav{
	width:100%;
	position:absolute;
	bottom:0px;
	
}
.ft .f-nav ul {
		width:100%;
		text-align:center;
		display:flex;
		justify-content:space-around;
		align-items:center;
		font-size:17px;
		color:#fff;
		background:#069EFF;
		padding:5px 0;
	}
	.ft .f-nav ul  li a{
		line-height:1.5em;
		color:#fff;
		
	}
.ft  p{
	width:100%;
	position:absolute;
	top:5px;
	text-align:center;
	font-size:12px;
}